@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&family=Poppins:wght@200;300;400;600;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
  font-family: 'Poppins', 'sans-serif';
  position: relative;
}

@keyframes animatedBackground {
  0% { background-position: 0 0; }
  50% { background-position: 50% 0; }
  100% { background-position: 0 0; }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.img {
  margin-bottom: 20px;
  width: 200px;
  border-radius: 50%;
  box-shadow: rgba(0,0,0,0.8) 0 0 10px;
}

@media screen and (min-width: 750px) {
  .img {
   width: 250px;
 }
}

.flyIn {
  color:#000;
  line-height: 1.2em;
  position: relative;
}

.lineOne {
	transition-delay: .2s;
	transition: .4s ease in;
	animation: txtFlyIn .3s linear;
}

.lineTwo {
  transition-delay: .6s;
  transition: .8s ease in;
  animation: txtFlyIn .9s linear;
  padding-bottom: 25px;
}

.lineThree {
  transition-delay: 2s;
  transition: 2s ease in;
  animation: fadeIn 2s linear;
  width: 100%;
  background-color:rgba(255,255,255,0.5);
  color: #000;
  padding: 20px 30px;
  flex-direction: column;
}

.lineFour {
  padding-top: 0;
}

@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}

@keyframes txtFlyIn {
  0% { transform:translateX(-100%); }
  100% { transform:translateX(0%); }
}

h1 {
  font-weight: 800;
  font-size: 3em;
}

h2 {
  font-weight: 300;
  font-size: 2em;
  padding-bottom: 10px;
}

p {
  font-size: 1.25em;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  color: #000;
  margin-top: 30px;
  padding: 40px;
}

.social-icons {
  padding: 10px;
  width: 50px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
	}
	50% {
    background-position: 100% 50%;
	}
	100% {
    background-position: 0% 50%;
	}
}

.btn {
  border: none;
  background: transparent;
  color: #000;
  padding: 10px;
  font-family: inherit;
  text-decoration: none;
  font-size: 1.5em;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease;
  border: 3px solid #09ff00;
  margin-left: 20px;
}

a {
  font-size: 1em;
  text-decoration: none;
  color: inherit;
}

.btn:hover{
  border: 3px solid #09ff00;
  color: #000;
  background-color:rgba(255,255,255,0.5);
}


